<h1>Show page for one event</h1>

Name: <%= @event.name %> <br>
Date: <%= @event.date %> <br>
Time: <%= @event.time %> <br>
Description: <%= @event.description %> <br>
Location: <%= @event.location %> <br>

<%= button_to "You Sure You Wanna Destroy this Potluck DAWG?", @event, :method => :delete %>
<!-- hide this button if current user is not host  -->
<%= link_to "join_event", new_dish_path(:event_id => @event.id) %>
<!-- this link should show if youre joined already -->