<div class="potluck-events-container">
  <div class="show-container form-wrapper">
    <h1><%= @event.name %> </h1>

    <h4> Date: <%= @event.date %></h4>
    <h4>Time: <%= @event.time %></h4>
    <h4>Description: <%= @event.description %></h4>
    <h4>Location: <%= @event.location %></h4>
    <table>
      <thead>
        <tr>
          <th>Atendees</th>
          <th>Dishes</th>
        </tr>
      </thead>
      <tbody>
        <% @event.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <% user.dishes.each do |dish| %>
            <td><%= dish.name %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= button_to "Delete Potluck", @event, :method => :delete, class: "delete-button" %>
    <!-- hide this button if current user is not host  -->
    <%= link_to "join_event", new_dish_event_path(@event), class: "new-action-button" %>

    <!-- this link should show if youre joined already -->
  </div>
</div>