<h1>Show page for one event</h1>

Name: <%= @event.name %> <br>
Date: <%= @event.date %> <br>
Time: <%= @event.time %> <br>
Description: <%= @event.description %> <br>
Location: <%= @event.location %> <br>